# MAC stuff
.DS_Store

# Xcode config
space_invaders.xcodeproj/project.xcworkspace/xcshareddata/
space_invaders.xcodeproj/project.xcworkspace/xcuserdata/
space_invaders.xcodeproj/project.pbxproj
space_invaders.xcodeproj/xcuserdata/manelzrelli.xcuserdatad/
space_invaders.xcodeproj/xcuserdata/princetim.xcuserdatad/

# ETNA svn
.svn

# Temporary
*.swp
